body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 1.5em;
  background: #fff;
  text-align: center;
  width:100%;
}

div {
  white-space: nowrap;
  overflow: hidden;
}

div p {
  font-weight: bold;
  margin: auto;
}

.main {
  width: 100%;
  margin: 50px auto;
  position: relative;
}

.main div {
  width: 100%;
  margin: 0 auto;
}

#box1 {
  font-size: 1.5em;
  margin: 0 auto;
  width: 100%;
}

#now {
  top: 1%;
}

.medium {
  font-size: 0.8em;
}

.large {
  font-size: 1.8em;
}

#dur {
  width: 100%;
  font-size: 2em;
}
